body {
    background-color: #000;
}

h1 {
    color: #fff;
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
}

div#starmap {
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 800px;
    height: 800px;
    font-size: 10pt;
}

div#cursor {
    fill: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 800px;
    height: 800px;
}


div#controls {
    border: 1px #888 solid;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 580px;
    width: 240px;
    height: 30px;
}

div#text {
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.9;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 560px;
    width: 240px;
    padding: 5px;
}

.hidden {
    display: none;
}

span#starname {
    font-weight: bold;
}



circle {
    stroke-width: 1px;
    opacity: 0.8;
}

/* see http://www.vendian.org/mncharity/dir3/starcolor/ */

circle.O { fill: #9bb0ff }  
circle.B { fill: #aabfff }  
circle.A { fill: #cad7ff }  
circle.F { fill: #f8f7ff }  
circle.G { fill: #fff4ea }  
circle.K { fill: #ffd2a1 }  

circle.M { fill: #ffcc6f }  
circle.C { fill: #ffcc6f }  

circle.hidden { display:none  }


circle.cursor {
    stroke-width: 2px;
    stroke: #fff;
}

text {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

text.hidden { display:none }