body {
    background-color: #000;
}




div#starmap {
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
    font-size: 10pt;
}


/* The star description box */


div#text {
    font-size: 16pt;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.94;
    position: absolute;
    top: 20px;
    left: 800px;
    width: 400px;
    padding: 5px;
}

/* Controls to open the plots and about sections */

div#plotsctrl {
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    border-top: 1px solid #888;
    color: #000;
    text-align: right;
    cursor: pointer;
    margin-top: 12pt;
}


div#plots {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
}

div.hidebtn {
    font-family: Helvetica, Arial, sans-serif;
    text-align:right;
    color: #888;
    font-size: 10pt;
    cursor: pointer;
}



div#aboutctrl {
    font-size: 8pt;
    font-family: Helvetica, Arial, sans-serif;
    border-top: 1px solid #888;
    color: #888;
    text-align: right;
    cursor: pointer;
    margin-top: 12pt;
}


div#about {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
}

div.hideabout {
    font-family: Helvetica, Arial, sans-serif;
    text-align:right;
    color: #888;
    font-size: 10pt;
    cursor: pointer;
}



input#starname {
    font-weight: bold;
    font-size: 18pt;
    border-bottom: 1px solid #888;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 0px;
    width: 100%;
}


input#starname.start {
    color: #888;
}

div#text.start {
    background-color: #fff;
}

div#stardesignation {
    font-size: 16pt;
    text-align: right;
}

span.link {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


div#history {
    padding-top: 1em;
    font-size: 8pt;
}

span#hlink {
    
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


.hidden {
    display: none;
}


div#controls {
    font-size: 16pt;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.94;
    position: absolute;
    top: 400px;
    left: 800px;
    width: 400px;
    padding: 5px;
    background-color: #8DF;
}

/* styles for the plots */

select.vizctrl {
    border: none;
    outline: 1px solid #888;
    background: #f8f7ff 
}

div.ctrlrow {
    padding-bottom: 10px;
}



circle {
    stroke-width: 1px;
    opacity: 0.8;
    cursor: pointer;
}

/* Star colour classes
   from http://www.vendian.org/mncharity/dir3/starcolor/ */

/* #ca0bc8 */

circle.O { fill: #9bb0ff }  
circle.B { fill: #aabfff }  
circle.A { fill: #cad7ff }  
circle.F { fill: #f8f7ff }  
circle.G { fill: #fff4ea }  
circle.K { fill: #ffd2a1 }  
circle.M { fill: #ffcc6f }  
circle.C { fill: #ff8080 }  
circle.P { fill: #ca0bc8 } 
circle.W { fill: #ddddff }
circle.S { fill: #ffffff }

div.O { background-color: #9bb0ff }  
div.B { background-color: #aabfff }  
div.A { background-color: #cad7ff }  
div.F { background-color: #f8f7ff }  
div.G { background-color: #fff4ea }  
div.K { background-color: #ffd2a1 }  
div.M { background-color: #ffcc6f }  
div.C { background-color: #ff8080 }  
div.P { background-color: #ca0bc8 }  
div.W { background-color: #ddddff }
div.S { background-color: #ffffff }

input.O { background-color: #9bb0ff }  
input.B { background-color: #aabfff }  
input.A { background-color: #cad7ff }  
input.F { background-color: #f8f7ff }  
input.G { background-color: #fff4ea }  
input.K { background-color: #ffd2a1 }  
input.M { background-color: #ffcc6f }  
input.C { background-color: #ff8080 }  
input.P { background-color: #ca0bc8 }  
input.W { background-color: #ddddff }
input.S { background-color: #ffffff }


circle.hidden { 
    display:none  
}


circle.highlight {
    stroke-width: 2px;
    stroke: #23f3b1;
}

    /* stroke: #23f3b1; */

circle.pointer {
    stroke-width: 2px;
    stroke: #fff;
    opacity: 60%;
    fill: none;
    display: none;
}

line.pointer {
    stroke-width: 2px;
    stroke: #fff;
    opacity: 60%;
    display: none;
}

text {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

text.hidden { display:none }